# Default owners for everything in the repo
* @axelhamil

# Core packages
/packages/ddd-kit/ @axelhamil
/packages/drizzle/ @axelhamil
/packages/ui/ @axelhamil

# Apps
/apps/nextjs/ @axelhamil
/apps/expo/ @axelhamil

# Documentation
/docs/ @axelhamil
*.md @axelhamil
